<!DOCTYPE html>
<html>
<head>
    <title>Directly Accessing Street View Data</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


    </style>
    <script>
      let map;
      let panorama;

      function initialize() {
        const berkeley = { lat: {{lat}}, lng:{{lng}} };
        const sv = new google.maps.StreetViewService();
        panorama = new google.maps.StreetViewPanorama(
          document.getElementById("pano")
        );
        // Set up the map.
        map = new google.maps.Map(document.getElementById("mp"), {
          center: berkeley,
          zoom: 16,
          streetViewControl: false,

        });
        // Set the initial Street View camera to the center of the map
        sv.getPanorama({ location: berkeley, radius: 5000000000000, source: 'outdoor',preference: google.maps.StreetViewPreference.NEAREST,

        }, processSVData);
      }

      function processSVData(data, status) {
        if (status === "OK") {
          const location = data.location;
          const marker = new google.maps.Marker({
            position: location.latLng,
            map,
            title: location.description,
          });
          panorama.setPano(location.pano);
          panorama.setOptions({
          addressControl:false, enableCloseButton:false,showRoadLabels:false,fullscreenControl:false,
          });
          panorama.setPov({
            heading: 270,
            pitch: 0,
          });
          panorama.setVisible(true);
          };
        }




    </script>
    <script type="text/javascript"
            src="https://api-maps.yandex.ru/2.1/?apikey=40d1649f-0493-4b70-98ba-98533de7710b&lang=ru_RU"></script>
    <script src="{{url_for('static',filename='2d.js')}}" type="text/javascript"></script>
</head>
<body>
<div id="mp" style="width: 0%; height: 0%; float: left"></div>
<div id="map" style="width: 450px; height: 350px;"></div>
<div id="pano" style="width: 45%; height: 100%; float: left"></div>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiBlo_ijWvwucj1dfrEhUev9DNtdEQ0U8&callback=initialize&libraries=&v=weekly"
        async
></script>
</body>
</html>