<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Game</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=40d1649f-0493-4b70-98ba-98533de7710b&lang=ru_RU"></script>
    <script src="{{ url_for('static', filename='3d.js') }}"></script>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script> initParams({{ coordinates }}) </script>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<nav id="navbar" style="z-index: 2;">
    <ul>
        <li><a href="/">Главное меню</a></li>
        {% if current_user.is_authenticated %}
        <li class="dropdown">

            <a class="dropbtn">{{current_user.username}}</a>

            <div class="dropdown-content">
                <a href="/id{{current_user.id}}">Профиль</a>
                <a href="/settings">Настройки</a>
                <a href="/logout">Выйти</a>
            </div>
        </li>
        {% else %}
        <li class="action"><a href="/login">Войти</a></li>
        {% endif %}
    </ul>
</nav>
<div id="alert">
    <p id="alert-content"></p>
</div>

<div id="mp" style="display: none"></div>
<div id="pano-wrapper">
    <div id="pano" style="opacity: 0"></div>
</div>
<div class="navigation">
    <div class="close" onclick="closeNavigation()">
        <p>&times;</p>
    </div>
    <div id="map"></div>
    <div id="check-country" disabled>
        <p>Ответить</p>
    </div>
    <div id="next-game">
        <p>Следующий раунд</p>
    </div>
</div>
<div id="show-navigation" onclick="showNavigation()">
    <p>показать карту</p>
</div>
<script src="https://maps.googleapis.com/maps/api/js?&callback=setPanorama&libraries=&v=weekly" async></script>
</body>
</html>