<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Sign up</title>
</head>
    <body>
        <div id="forms">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                 <h1>Создать аккаунт</h1>
                <p>
                    {{ form.username.label }}
                    {{ form.username(class="form-control", type="text",maxlength=16) }}
                </p>
                <p>
                    {{ form.password.label }}
                    {{ form.password(class="form-control", type="password",minlength=6) }}
                </p>
                <p>
                    {{ form.password_control.label }}
                    {{ form.password_control(class="form-control", type="password",minlength=6) }}
                </p>
                {% if message != "" %}
                    <div id="authentication-alert-message">{{ message }}</div>
                {% endif %}

                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                <a href="/login">Войти</a>
                <a href="/">Войти анонимно</a>
            </form>
        </div>
    </body>
</html>