<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-dark">
        {% if current_user.is_authenticated %}
        <p>
            <a href="/logout" style="color: white; margin-right:15px;">{{ current_user.name }}</a>
            <a href="/records" style="color: white">Ваш рекорд - {{ current_user.score }} </a>
        </p>
        {% else %}
        <p>
            <a href="/register">Зарегистрироваться</a>
            <a href="/login">Войти</a>
        </p>
        {% endif %}
        <p><a href="/session" style="margin-right: 50px;width:100px;">Игра</a>
        </p>
    </nav>
</header>
</body>
</html>